@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Vidly</h1>
    <p class="lead">A web application written in classic ASP.NET 4.7!</p>
    <p><a href="https://github.com/haugan/Vidly" class="btn btn-primary btn-lg">More on GitHub &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Database</h2>
        <p>
            A fully functional CRUD application lets you 
            create, read, update, and delete items in 
            a connected database (e.g. products, customers, orders, etc.).
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Security</h2>
        <p>
            No application is complete without user security! 
            This is why Vidly utilises Microsofts great frameworks for
            user authentication and authorization.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Design</h2>
        <p>
            This web application uses a customized 
            Bootstrap theme from the wonderful collection at Bootswatch.
        </p>
        <p><a class="btn btn-default" href="http://bootswatch.com/">View themes &raquo;</a></p>
    </div>
</div>