@model Vidly.ViewModels.MoviesIndexViewModel
@{
    ViewBag.Title = "Movie index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Movie index</h2>
    @if (Model.Movies.Count < 1)
    {
        <text>There's no registered movies.</text>
    }
    else
    {
        <table class="table table-striped table-responsive table-hover">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Genre</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var movie in Model.Movies)
                {
                    <tr>
                        <td>@Html.ActionLink(movie.Title, "Details", "Movies", new { id = movie.Id }, null)</td>
                        <td>@movie.Genre.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>