@model Vidly.ViewModels.MovieCustomersViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Render dynamic HTML attributes.*@
@{ 
    var className = Model.Customers.Count > 3 ? "popular" : null;
}
<h2 class="@className">@Model.Movie.Name</h2>

@*Conditional HTML rendering.*@
@if (Model.Customers.Count == 0)
{
    <text>There's no customers listed.</text>
}
else
{
    <ul>
        @foreach (var customer in Model.Customers)
        {
            <li>@customer.Name</li>
        }
    </ul>
}